/* Padding/margin resets */
html, body {
	padding: 0;
	margin: 0
}

.container {
	margin: auto;
	width: 80%;
}

/* Possibly more navbars, so we may have to resort to ids. */
header {
	position: fixed;
	opacity: 0.95;
	width: 100%;
	background-color: #b1b1b1;
	height: 50px;
	font-family: sans-serif;
}

nav {
	display: inline;
	width: 100%;
}

ul {
	margin: 0;
}

#navLocationBar {
	padding: 0px 10px;
	float: left;
}

#navSocialBar {
	float: right;
}

#branding h2{
	margin: 0;
	font-size: 17px;
	float: left;
	padding: 0.9em 0;
	color: white;
}

.navButton:hover {
	background-color: #a1a1a1;
}

.navButton {
	padding: 1em 10px;
	text-decoration: none;
	list-style: none;
	float: left;
	color: #fff;
}

.navSocialButton {
	padding: 0.5em 0 0 4px;
	text-decoration: none;
	list-style: none;
	float: left;
	color: #fff;
}